* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  width: 1600px;
  height: 2000px;
  margin: auto;
  background: white;
};

@media screen and (max-width:2000px) {
  .App {
    width: 100%;
    background: yellow;

    @keyframes identifier {
      
    }
  };

  .navBar {
    width: 100%;
    display: none;
    background: black;
  };
};

@media screen and (max-width:1600px) {
  .App {

    background: yellow;
  };

  .navBar {
    width: 100%;
    display: none;
    background: black;
  };
};

@media screen and (max-width:1200px) {
  .App {
    width: 100%;
    background: yellow;
  };

  .navBar {
    width: 100%;
    display: none;
    background: black;
  };
};

@media screen and (max-width:800px) {
  .App {
    width: 100%;
    background: yellow;
  };

  .navBar {
    width: 100%;
    display: none;
    background: black;
  };
};

@media screen and (max-width:600px) {
  .App {
    width: 100%;
    background: yellow;
  };

  .navBar {
    width: 100%;
    display: none;
    background: black;
  };



}

img {
  background: url();
  background-position: center;
  background-position-x: center;
  background-position-y: center;
}